<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="folderPath" value="C:\DRIVE\test\1"/>
    <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=fuckingstorageaccount;AccountKey=wHZttfBUdqSK5/Bzjns+QAxY3j0gqKLgrP6Hg1xHvXOlOZMjR0otBIpdZoUBlCva8CAwfvTNORQgo/Mh4Y4WvA==;EndpointSuffix=core.windows.net"/>
    <add key="container" value="fuckingcontainer"/>
    <add key="tokenFilePath" value="C:\DRIVE\VIDEO\client-token.txt"/>
    <add key="firebaseServerKey" value="AAAAkVyyvoM:APA91bEJpiX6ZeQaAqtGyMJXFZ216aVgDgbLK_-APgFbGK45PVT4nmtTW5RKPzS_hhqa0wbgZXmGbSRo3JpUaxNDcI-MBmtS2htr7UJ5Scq23gH1HsYQ5nJMCs3d1lNOnsvXz1qfQfJ-"/>
  </appSettings>
</configuration>